[ghq]
        root = /Users/harukimiyagi/src
[user]
        name = Haruki Miyagi
        email = haruki.miyagi11@gmail.com
[color]
        ui = true
        diff = auto
        status = auto
        branch = auto
[core]
        quotepath = false
        ignorecase = false
        autocrlf = false
        precomposeunicode = true
        excludesfile = /Users/harukimiyagi/.gitignore_global
[push]
        default = simple

[alias]
        aa = add -A
        co = checkout
        cob = checkout -b
        com = checkout master
        cod = checkout develop
        cos = checkout staging
        cm = commit -m
        commit = commit -m
