[ghq]
        root = /Users/harukimiyagi/src
[user]
        name = Haruki Miyagi
        email = haruki.miyagi11@gmail.com
[color]
        ui = true
        diff = auto
        status = auto
        branch = auto
[core]
        quotepath = false
        ignorecase = false
        autocrlf = false
        precomposeunicode = true
        excludesfile = /Users/harukimiyagi/.gitignore_global
[push]
        default = simple

[alias]
        aa = add -A
        c = checkout
        cb = checkout -b
        cm = checkout master
        cd = checkout develop
        cs = checkout staging
        co = commit -m
        commit = commit -m

